<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "myprofile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Kanhaiya Kumar</h1>
		<p>I am a Web Developer.I am working on Both Backend and Frontend.</p>
		<p>Mostly, I work on Backend</p>
		<p>If you'd like to follow me to learn more Ruby on Rails, find me on Twitter <a href="https://twitter.com/Kishna1609">@Krishna1609</a> or on the Facebook at <a href="https://www.facebook.com/kanhaiya.rai.94">kanhaiya kumar</a>, and get my posts and exclusive content in your inbox by signing up for my newsletter(COMING SOON) <a href="#">here</a>, and get my 
		blog at <a href="http://stara.buffalo.io/">My Blog</a>. </p>
		<p>I have sessoned 11 month to IT Organisation as a Web Developer and BI Developer. I have worked for Indogenius Group Kolkata as a Web Developer and Exilant Technologies Pvt Ltd Bhubaneswar as a BI Developer. After that i have started freelancing for Web Development.</p>
	</div>
</div>

	<div class="row">
	 	<div class="col-md-6">
		  <h2><i>Web Development Skills</i></h2>
				<ul>
					<li>Ruby on Rails</li>
					<li>Ruby Language</li>
					<li>Rails Framework</li>
					<li>HTML</li>
					<li>HAML</li>
					<li>SCSS</li>
					<li>Bootstrap</li>
					<li>Ruby Gems</li>
					<li>Git</li>
					<li>Heroku</li>
					<li>Sqlite3</li>
					<li>Postgre</li>
				</ul>
	 	</div>
	 	<div class="col-md-6">
		  <h2><i>BI Development Skills</i></h2>
				<ul>
					<li>Oracle SQL</li>
					<li>PLSQL</li>
					<li>Teradata</li>
					<li>UNIX Shellscripting</li>
					<li>SAP BO</li>
					<li>Universe</li>
					<li>Designer</li>
					<li>FastLoad</li>
					<li>MultiLoad</li>
					<li>TPT</li>
				</ul>
		</div>
	</div>
</div>